<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="RedisConnectionString" connectionString="127.0.0.1: 6379, ssl=false"/>
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="cache.mode" value="redis"/>
    <add key="cache.redis.connection" value="RedisConnectionString"/>
    <add key="cache.redis.serializer.tempstoragetype" value="Recall.Common.Cache.Web.WebTempStorage, Recall.Common.Cache.Providers.Web"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.2"/>
    <httpRuntime targetFramework="4.6.2"/>
    <pages>
      <namespaces>
      </namespaces>
    </pages>
    <httpModules>
    </httpModules>
    <machineKey validationKey="9A9C926DD53EDAB9E1D014CEB9434BA720878528CF120BA2A2E8452E9F180A1E1C2511164DDC19965B4B34E4E3AC15037123DEFA0F634F1CF09EEFC407555BA4"
      decryptionKey="D2AAA89BCC9E2EB28A1E27F2D5D8FB1E9EDEF719B812AF2F05AAF1FAF11D8592" validation="SHA1" decryption="AES"/>
    <sessionState mode="Custom" customProvider="MySessionStateStore">
      <providers>
        <add name="MySessionStateStore" type="Microsoft.Web.Redis.RedisSessionStateProvider" applicationName="rqw"
          redisSerializerType="asp_net_session_app.SessionSerializer, asp-net-session-app" connectionString="RedisConnectionString"/>
      </providers>
    </sessionState>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="Session"/>
      <add name="Session"
        type="Microsoft.AspNet.SessionState.SessionStateModuleAsync, Microsoft.AspNet.SessionState.SessionStateModule, Version=1.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        preCondition="integratedMode"/>
    </modules>
  </system.webServer>
</configuration>